



      html {
        height: 100%;
        margin: 0;
        background-image: url("../img/bakgrundf.jpg");
        background-position: center ;
        background-repeat: no-repeat;
        background-size:cover;
      }

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    
}  





.button1 {
    border-radius: 8px;
    font-size: 25px;
}

.button2 {
    border-radius: 8px;
    font-size: 25px;
}

.button3 {
    border-radius: 8px;
    font-size: 25px;
}




.navbar {
    width: 100%;
    background-color: #4b48fa8a;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float:left;
    text-align:center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #0417aae1;
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }
  
    